body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #A1BB26;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Navbar Styling*/
    body > div.navbar.navbar-inverse.navbar-fixed-top{
        background-color: #095E0F;                
    }
    body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse a
   {        
        display: inline-block;
        list-style: none;
        color: white;
        font-family: 'Sedgwick Ave', cursive;        
    }
    .navbar .navbar-nav{
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

/*HOMEPAGE Carousel Styling*/

#reviews{
    text-align: center;
}
#car {
    text-align: center;
}
div.carousel-inner {
    height: 50px;
    background-color: white;
}

div#carousel-example-generic {
    height: 50px;
    margin-top: 20px;
}

p#carOne {
    text-align: center;
}

h4#carTwo {
    text-align: center;
}

p#carThree {
    text-align: center;
}

h4#carFour {
    text-align: center;
}

p#carFive {
    text-align: center;
}

h4#carSix {
    text-align: center;
}

/*Homepage General Design*/

div.jumbotron {
    margin-top:0px;    
    padding: 0px;
    font-family: 'Sedgwick Ave', cursive;
}

#homeThumbs {
    float: initial;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 333px;
}

#homeThumbs:active hover {
    box-shadow: inset;
}

/*Tops Index*/

#topImages{
    border: double;    
    height: 500px;
    width: 430px;
    margin: 30px;
    clear: left;
    background-color: white;
    display:block;
    max-width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
        
}

/*Tops Details*/
#topsDetails {    
    border: solid;  
    background-color: white;
}

/*Bottoms Index*/

#bottomImages{
    border: double;    
    height: 500px;
    width: 430px;
    margin: 30px;
    clear: left;
    background-color: white;
    display:block;
    max-width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Bottoms Details*/

#bottomDetails{
    border: solid;  
    background-color: white;  
}

/*Shoes Index*/

#shoesImages{
    border: double;    
    height: 500px;
    width: 430px;
    margin: 30px;
    clear: left;
    background-color: white;
    display:block;
    max-width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Shoes Details*/
#shoesDetails{
     border: solid;  
    background-color: white;
}

/*Accessories Index*/

#accessoriesImages{
    border: double;    
    height: 500px;
    width: 430px;
    margin: 30px;
    clear: left;
    background-color: white;
    display:block;
    max-width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Accessories Details*/

#accessoriesDetails {
    border: solid;  
    background-color: white;
}
