@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your delightful Wardrobe!</h1>    
    <p>Please feel free to add, delete, mix and max your wardrobe until you are happily dressed!</p>
</div>

@*CAROUSEL*@

<div class="row review">
    <h1 id="reviews">REVIEWS</h1>
    <h4 id="car">What other wardrobe users have said about us!</h4>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">      

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <p id="carOne">How wonderful! They even included kilt and cloak options! A wardrobe for the everyman!</p>
            <h4 id="carTwo">Sam, man who doesn't understand fashion</h4>
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <p id="carThree">This does help me chose clothes a bit better I suppose!</p>
            <h4 id="carFour">Sam, frequent shopper</h4>
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <p id="carFive">Why is there only male clothing in this app?</p>
            <h4 id="carSix">Samantha, frequently wears clothes</h4>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<span class="glyphicons glyphicons-option-horizontal"></span>


<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>            
        </p>

        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        
    </div>
</div>